@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0%, 100% { background-color: rgb(255, 204, 204); } /* Light Pink */
  10% { background-color: rgb(255, 230, 204); } /* Light Apricot */
  20% { background-color: rgb(255, 255, 204); } /* Light Yellow */
  30% { background-color: rgb(204, 255, 204); } /* Light Green */
  40% { background-color: rgb(204, 255, 230); } /* Light Mint */
  50% { background-color: rgb(204, 255, 255); } /* Light Cyan */
  60% { background-color: rgb(204, 230, 255); } /* Light Sky Blue */
  70% { background-color: rgb(204, 204, 255); } /* Light Lavender */
  80% { background-color: rgb(230, 204, 255); } /* Light Lilac */
  90% { background-color: rgb(255, 204, 255); } /* Light Orchid */
}

body{

   animation: breathing 20s linear infinite;
   user-zoom: none;

}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:focus {
  outline: none !important;
}

.line {
  animation: colorChange 1s infinite alternate;
}
 @keyframes colorChange {
  0%,100% {
  background-color: rgba(0, 0, 255, 0.450);
  box-shadow: 0px 0px 15px rgb(27, 43, 216);

  }
  50% {
    background-color: rgba(255, 0, 0, 0.450);
  box-shadow: 0px 0px 15px rgb(216, 27, 27);

  }

}

.ox{
  animation: changesize .03s ease-in;
}
@keyframes changesize {
  0%{
    @apply text-sm
  }
  100%{
    @apply text-4xl md:text-5xl
  }
}

.notify {
  animation: notify 1s;
}

@keyframes notify {
  0% {
    background-color:  #ede024;
    transform: scale(1);
  }
  50% {
    background-color: #f1faee;
    transform: scale(1.2);
  }
  100% {
    background-color:  #dbe6e6;
    transform: scale(1);
  }
}